<% include('../include/header') %>

<div class="container py-md-5">
    
    <h1>Register</h1>

    <form action="" method="post" enctype="">
        <input type="text" name="">
    </form>

</div>
<% include('../include/footer') %>