<% success.forEach(function (message) { %>
<div class="alert alert-success"><%= message %></div>
<% }) %>


<% errors.forEach(function (message) { %>
<div class="alert alert-danger"><%= message %></div>
<% }) %>
